  <script src="/assets/raphael.js"></script>
  <script src="/assets/popup.js"></script>
  <script src="/assets/jquery.js"></script>
  <script src="/assets/analytics.js"></script>

  <style>
    img {
      float: left;
    }
  </style>

  <style type="text/css" media="screen">
      #holder {
          height: 250px;
          margin: 50px 50px 50px -120px;
          width: 800px;
          }
  </style>
  <style type="text/css" media="screen">
      #table_hold {
          border: 10px solid #cccccc;
          height: auto;
          margin: 50px 50px 50px 50px;
          width: 500px;
          }
  </style>

</head>

<div class="center jumbotron">

  <div align="left">
    <%= image_tag("borb.png") %>
  </div>

    <h1 align="center">Tweets containing 'Deadpool'</h1>

    </br>
    </br>

    <body>

      <div class="container">
        <p style="margin-top: 50px; margin-bottom: -50px;"> Number of tweets for week of <%= Time.now.strftime("%D %r") %> UTC </p>
      <div class="col-md-6 col-md-offset-2 centerfy">

        <table id="data">
          <tfoot>
              <tr>
                  <th>Mon</th>
                  <th>Tue</th>
                  <th>Wed</th>
                  <th>Thu</th>
                  <th>Fri</th>
                  <th>Sat</th>
                  <th>Sun</th>
              </tr>
          </tfoot>
          <tbody>

              <tr>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 1).count %> </td>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 2).count %> </td>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 3).count %> </td>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 4).count %> </td>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 5).count %> </td>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 6).count %> </td>
                <td> <%= Tweet.where("strftime('%w', created_at) + 0 = ?", 0).count %> </td>
              </tr>
          </tbody>
        </table>

      <div id="holder"></div>


         <div class="row">
           <div class="col-md-6">
             <table id="table_hold" class="table table-bordered">
               <thead>
                 <tr><th colspan="2" style="text-align: center;">Last 25 Tweets</th></tr>
              </thead>
               <tr>
                 <th style="text-align: center;">User</th>
                 <th style="text-align: center;">Tweet</th>
               </tr>

               <% Tweet.last(25).each do |tweet| %>
                 <tr>
                   <td><%= tweet.user %></td>
                   <td><%= tweet.status %></td>
                 </tr>
               <% end %>
               </tr>


            </table>
          </div>
         </div>
       </div>
     </div>

  </div>

